<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <!-- Meta Data -->
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="Jay Fields Website" />
  <meta name="keywords" content="jay, fields" />

  <!-- Site Title -->
  <title>Jay Fields</title>

  <!-- Link to Style External Sheet -->
  <link href="style.css" type="text/css" rel="stylesheet" />

</head>

<body>

  <div id='page_wrapper'>

    <div id='page_header'>
      <h1>Jay Fields</h1>
      <h2><%= page %></h2>
    </div>

    <div id='menu_bar'>

      <div id="navcontainer">
        <ul id="navlist">
          <li><a href="index.htm">Home</a></li>
          <li><a href="http://blog.jayfields.com">Blog</a></li>
          <li><a href="articles.htm">Articles</a></li>
          <li><a href="books.htm">Books</a></li>
          <li><a href="oss.htm">Open Source</a></li>
          <li><a href="http://www.drwtrading.com">DRW Trading</a></li>
          <li><a href="mailto:contact@jayfields.com">Contact</a></li>
        </ul>
      </div>

    </div>

    <div id='content_wrapper'>

      <div class='spacer'></div>

      <div id='left_side'>

        <%= content %>

      </div>

        <div id='right_side'>
          <div id="pic" style="padding: 0px 0px 0px 10px">
            <img src="pic.jpg"/>
          </div>
          <div id="pic" style="padding: 30px 0px 0px 0px">
            <a href="http://www.amazon.com/Refactoring-Ruby-Addison-Wesley-Professional/dp/0321603508">
				      <img src="refactoring.jpg"/>
			      </a>
          </div>
          <div id="pic" style="padding: 20px 0px 0px 0px"> </div>

          <h3>upcoming presentations</h3>
          <p>
                  <a href="http://speakerconf.com/">speakerconf Aruba 2011</a>
      			<br><br>
                  <a href="http://speakerconf.com/">speakerconf Rome 2011</a>
      			<br><br>
            <a href="mailto:speak@jayfields.com">Invite me to speak at a conference</a>
          </p>

        </div>

        <div class='spacer'></div>

      </div>

      <div id='page_footer'>
        <p>
          Template provided by <a href="http://www.designsbydarren.com/" target="new">Designs by Darren</a>. 
          Released under a <a href="http://creativecommons.org/licenses/by-nc/2.5/" target="new">Creative Commons License</a>.<br />
          <a href="http://validator.w3.org/check?uri=referer" target="new">Valid XHTML 1.0 Transitional</a>
        </p>

      </div>

    </div>

  </body>

  </html>